<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Minesweeper</title>
	<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
	<style>
		*, *:before, *:after {
			box-sizing: inherit;
		}

		html {
			box-sizing: border-box;
		}

		body {
			font-family: Arial, sans-serif;
		}

		.container {
			max-width: 960px;
			margin: 0 auto;
		}

		fieldset {
			margin: 10px 0;
		}

		#minefield {
			background: #BBB;
			line-height: 0;
			border-spacing: 0;
			user-select: none;
			border: 1px solid #7F7F7F;
			border-top: none;
			border-left: none;
		}

		.minefield-tile {
			padding: 0;
			width: 24px;
			height: 24px;
			background: url(./img/empty.png);
		}

		.minefield-tile__covered {
			background: url(./img/covered.png);
		}
	</style>
</head>
<body>
	<div id="app" class="container">
		<form @submit.prevent="generate">
			<fieldset>
				<legend>Configuration</legend>
				<label for="inputWidth">Width: </label><input type="number" v-model.number="width" id="inputWidth"><br>
				<label for="inputHeight">Height: </label><input type="number" v-model.number="height" id="inputHeight"><br>
				<label for="inputMines">Mines: </label><input type="number" v-model.number="mines" id="inputMines"><br>
				<hr>
				<button type="submit">Submit &amp; reload</button>
				<label>Debug: </label><input type="checkbox" v-model="debug">
			</fieldset>
		</form>

		<table id="minefield" v-if="ready">
			<tbody>
				<tr class="minefield-row" v-for="(row, x) in tiles">
					<td class="minefield-tile" v-for="(tile, y) in row" @click.left="uncoverTile(x, y)" :class="{ 'minefield-tile__covered' : tile.covered }">
						<span v-if="!tile.covered">
							<img :src="'./img/' + getTileImage(tile)" :alt="tile.value" width="24" height="24">
						</span>
					</td>
				</tr>	
			</tbody>
			
		</table>
	</div>

	<script src="https://unpkg.com/vue"></script>
	<script>
		new Vue({
			el: '#app',

			data: {
				ready: false,
				width: 16,
				height: 16,
				mines: 40,
				debug: false,
				minePositions: [],
				tiles: []
			},

			mounted: function() {
				// Render game
				this.generate()
			},

			methods: {
				generate: function() {
					this.ready = false;

					this.minePositions = this.getMinePositions();
					this.generateInitialTiles();
					this.assignTileValues();

					this.ready = true;
				},

				getMinePositions: function() {
					const length = (this.height * this.width);

					const results = [];
					while (results.length < this.mines)
					{
					    let number = Math.floor(Math.random() * length);

					    // Skip: already exiss
					    if(results.indexOf(number) > -1) continue;

					    results[results.length] = number;
					}

					return results;
				},

				generateInitialTiles: function() {
					const tiles = [];

					for (let x = 0; x < this.height; x++)
					{
						tiles[x] = [];
						for (let y = 0; y < this.width; y++)
						{
							tiles[x][y] = { covered: !this.debug, flagged: false, value: 0 };
						}
					}

					this.tiles = tiles;
				},

				assignTileValues: function() {
					for (let x = 0; x <= this.tiles.length - 1; x++)
					{
						const row = this.tiles[x];

						for (let y = 0; y <= row.length - 1; y++)
						{
							const tile = row[y];
							tile.value = this.getTileValue(x, y);
						}
					}
				},

				getTileIndex: function(x, y) {
					return ((x * (this.tiles.length)) + (y+1)) - 1
				},

				hasMine(x, y) {
					if (this.isOutsideBounds(x, y)) return false;

					return this.minePositions.indexOf(this.getTileIndex(x, y)) > -1
				},

				hasMineInteger(x, y) {
					if (this.hasMine(x, y))
					{
						return 1
					}

					return 0
				},

				getTileValue: function(x, y) {
					if (this.hasMine(x, y)) return -1;

					let value = 0;

					this.performActionOnSurroundings(x, y, this.hasMineInteger, function(result) {
						value += result;
					})

					return value;
				},

				getTileImage: function(tile) {
					const value = tile.value;

					if (value == 0) return 'empty.png';
					if (value == -1) return 'mine.png';

					return 'number-' + value + '.png'
				},

				uncoverTile: function(x, y) {
					const tile = this.tiles[x][y];
					if (!tile.covered) return; // already uncovered

					// Uncover all connected zero tiles
					if (this.getTileValue(x, y) == 0)
					{
						this.uncoverAllZeroTiles(x, y)
						return;
					}

					tile.covered = false;
				},

				uncoverAllZeroTiles: function(x, y) {
					if (this.isOutsideBounds(x, y)) return; // check for bounds

					const tile = this.tiles[x][y];
					if (!tile.covered) return;

					tile.covered = false;

					if (tile.value == 0) this.performActionOnSurroundings(x, y, this.uncoverAllZeroTiles)
				},

				performActionOnSurroundings(x, y, action, result) {
					if (typeof result == "undefined") result = function(x) {};

					result(action(x - 1, y - 1));	// Top left
					result(action(x - 1, y)); 		// Top
					result(action(x - 1, y + 1));	// Top right
					result(action(x, 	 y - 1)); 	// Left
					result(action(x, 	 y + 1)); 	// Right
					result(action(x + 1, y - 1)); 	// Bottom left
					result(action(x + 1, y)); 		// Bottom
					result(action(x + 1, y + 1)); 	// Bottom right
				},

				isOutsideBounds: function(x, y) {
					return (x < 0 || x > (this.tiles.length - 1) || y < 0 || y > (this.tiles[0].length - 1))
				}
			}
		})
	</script>
</body>
</html>